<div ng-controller="contactController as $ctrl" class="container-fluid modal-target">
	<form name="contactForm" novalidate>
		<div class="form-group row">
			<label class="col-lg-3 col-md-3 col-sm-3 col-xs-12">Name:</label>
			<input class="col-lg-9 col-md-9 col-sm-9 col-xs-12 form-control"  type="text" name="name" ng-model="$ctrl.interaction.name" placeholder="Your name" required></input>	
			<div class="help-block" ng-messages="contactForm.name.$error" ng-if="contactForm.name.$touched">
			    <div ng-messages-include="/client/partials/ValidationMessage.html"></div>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-lg-3 col-md-3 col-sm-3 col-xs-12">Email:</label>
			<input class="col-lg-9 col-md-9 col-sm-9 col-xs-12 form-control" type="email" name="email" ng-model="$ctrl.interaction.email" placeholder="Your email" required></input>
			<div class="help-block" ng-messages="contactForm.email.$error" ng-if="contactForm.email.$touched">
			    <div ng-messages-include="/client/partials/ValidationMessage.html"></div>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-lg-3 col-md-3 col-sm-3 col-xs-12">Subject:</label>
			<input class="col-lg-9 col-md-9 col-sm-9 col-xs-12 form-control" type="text" name="subject" ng-model="$ctrl.interaction.subject" placeholder="Subject of interest" required></input>
			<div class="help-block" ng-messages="contactForm.subject.$error" ng-if="contactForm.subject.$touched">
			  	<div ng-messages-include="/client/partials/ValidationMessage.html">
				</div>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Details:</label>
			<textarea class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-control" name="details" ng-model="$ctrl.interaction.details" placeholder="Your detailed explanation" required></textarea>
			<div class="help-block" ng-messages="contactForm.details.$error" ng-if="contactForm.details.$touched">
			    <div ng-messages-include="/client/partials/ValidationMessage.html"></div>
			</div>
		</div>
		
		<div class="form-group">
            <a href="#!/" class="btn">Cancel</a>
  			<button type="submit" class="btn btn-primary" ng-disabled="contactForm.$invalid" ng-click="$ctrl.save(contactForm.$valid)">Save</button>
        </div>


  		
  		<div class="modal-parent">
    	</div>
	</form>
<div>