<!--<p ng-message="required">This field is required</p>
<p ng-message="minlength">This field is too short</p>
<p ng-message="maxlength">This field is too long</p>
<p ng-message="required">This field is required</p>
<p ng-message="email">This needs to be a valid email</p>
<p ng-message="tel">This needs to be a valid phone</p>
<p ng-message="url">You must enter a valid url</p>
<p ng-message="compareTo">The field doesn't match</p>-->

<span ng-message="required" 
	class="glyphicon glyphicon-asterisk red validation-error" 
	data-message="This field is required" 
	aria-hidden="true"
	ng-click="sst().toggleValidationError(this)"></span>
<span ng-message="minlength" 
	class="glyphicon glyphicon-resize-small red validation-error" 
	data-message="This field minimum length is greater than the current content length."
	aria-hidden="true"
	ng-click="sst().toggleValidationError(this)"></span>
<span ng-message="maxlength" 
	class="glyphicon glyphicon-resize-full red validation-error" 
	data-message="This field maximum length is lower than the current content length."
	aria-hidden="true"
	ng-click="sst().toggleValidationError(this)"></span>
<span ng-message="email" 
	class="glyphicon glyphicon-envelope red validation-error" 
	data-message="This field requires a valid mail."
	aria-hidden="true"
	ng-click="sst().toggleValidationError(this)"></span>
<span ng-message="tel" 
	class="glyphicon glyphicon-phone-alt red validation-error" 
	data-message="This field requires a valid phone number."
	aria-hidden="true"
	ng-click="sst().toggleValidationError(this)"></span>
<span ng-message="url" 
	class="glyphicon glyphicon-link red validation-error" 
	data-message="This field requires a valid URL."
	aria-hidden="true"
	ng-click="sst().toggleValidationError(this)"></span>
<span ng-message="compareTo" 
	class="glyphicon glyphicon-alert red validation-error"
	data-message="The last two fields don't match them selves." 
	aria-hidden="true"
	ng-click="sst().toggleValidationError(this)"></span>